{% extends "base.html.twig" %}

{% block title %}Rédiger un article{% endblock %}
{% block page_title %}Rédiger un article{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <script src="https://cdn.ckeditor.com/4.22.0/full/ckeditor.js"></script>
{% endblock %}


{% block body %}
<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-8 mx-auto">
                {{ form(form) }}
                <script>
                    CKEDITOR.replace('post[content]');
                </script>
            </div>
        </div>
    </div>
</div>
{% endblock %}

